.popup-body {
  width: 400px;
  flex: 1;
}

.template-form {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 30px;
}

.template-form form {
  max-width: 756px;
}

.template-form-body {
  background-color: #00bfa5;
}

.form-variables {
  padding: 10px 15px 10px 30px;
}

.contact-card {
  display: flex;
  background-color: #f5f5f5;
  background-clip: content-box;
  padding: 5px;
}

.contact-card:nth-child(odd) {
  padding-right: 5px;
}

.card {
  min-width: 300px;
}

.template-wrapper {
  display: flex;
  flex-direction: column;
  min-height: 400px;
}
